In [1]:
#importation des librairies nécessaires
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns
from pandas_profiling import ProfileReport

In [2]:
weather1=pd.read_csv('weather1.csv')
weather2=pd.read_csv('weather2.csv')
weather3=pd.read_csv('weather_zarsis.csv')

In [3]:
weather1.shape

(12045, 9)

In [4]:
weather2.shape

(13140, 9)

In [5]:
weather3.shape

(1095, 9)

In [6]:
weather = pd.concat([weather1,weather2, weather3])

In [7]:
weather.shape

(26280, 9)

In [8]:
weather.head(3)

,lieu,date,temperatureMaximale,temperatureMinimale,vitesseVent,Humidite,Visibilite,etat,ajuste
0,Tunis,01/01/2017,12°,11°,12km/h,61%,10km,Nuageux,0mm
1,Tunis,02/01/2017,14°,11°,9km/h,10km,4%,Ciel dégagé pleinement ensoleillé,63%
2,Tunis,03/01/2017,15°,12°,23km/h,54%,10km,Soleil et partiellement nuageux,0mm

In [9]:
len(weather[weather.Visibilite.str.contains("%")]["Visibilite"])

12335

In [10]:
weather.loc[(weather["Visibilite"].str.contains("%")),'Visibilite']=np.nan

In [11]:
weather["Visibilite"].isnull().sum()

12335

In [12]:
# remplacer les valeurs null du Visibilite par Humidite
weather['Visibilite'] = weather['Visibilite'].fillna(weather['Humidite'])

In [13]:
weather["Visibilite"].isnull().sum()

0

In [14]:
len(weather[weather.Visibilite.str.contains("%")]["Visibilite"])

0

In [15]:
weather["Visibilite"]

0          10km
1          10km
2          10km
3          10km
4       9.875km
         ...
1090       10km
1091     9.75km
1092    9.875km
1093        9km
1094    8.875km
Name: Visibilite, Length: 26280, dtype: object

In [16]:
len(weather[weather.Humidite.str.contains("km")]["Humidite"])

12563

In [17]:
weather.loc[(weather["Humidite"].str.contains("km")),'Humidite']=np.nan

In [18]:
weather["Humidite"].isnull().sum()

12563

In [19]:
# remplacer les valeurs null du Humidite par ajuste
weather['Humidite'] = weather['Humidite'].fillna(weather['ajuste'])

In [20]:
weather["Humidite"].isnull().sum()

0

In [21]:
len(weather[weather.Humidite.str.contains("km")]["Humidite"])

0

In [22]:
weather["Humidite"]

0       61%
1       63%
2       54%
3       69%
4       62%
       ...
1090    60%
1091    71%
1092    61%
1093    67%
1094    67%
Name: Humidite, Length: 26280, dtype: object

In [23]:
weather.rename(columns={"ajuste": "Precipitations"},inplace=True)

In [24]:
#weather.drop(columns=["ajuste"],inplace=True)

In [25]:
weather.loc[(weather["Precipitations"].str.contains("%")),'Precipitations']=np.nan

In [26]:
weather

,lieu,date,temperatureMaximale,temperatureMinimale,vitesseVent,Humidite,Visibilite,etat,Precipitations
0,Tunis,01/01/2017,12°,11°,12km/h,61%,10km,Nuageux,0mm
1,Tunis,02/01/2017,14°,11°,9km/h,63%,10km,Ciel dégagé pleinement ensoleillé,NaN
2,Tunis,03/01/2017,15°,12°,23km/h,54%,10km,Soleil et partiellement nuageux,0mm
3,Tunis,04/01/2017,15°,14°,31km/h,69%,10km,Soleil et partiellement nuageux,1mm
4,Tunis,05/01/2017,15°,14°,52km/h,62%,9.875km,Nuageux,3mm
...,...,...,...,...,...,...,...,...,...
1090,Zarzis,27/12/2019,18°,15°,10km/h,60%,10km,Soleil et partiellement nuageux,0mm
1091,Zarzis,28/12/2019,17°,15°,31km/h,71%,9.75km,Nuageux,1mm
1092,Zarzis,29/12/2019,15°,13°,34km/h,61%,9.875km,Faibles averses de pluie,5mm
1093,Zarzis,30/12/2019,13°,11°,35km/h,67%,9km,Faibles averses de pluie,11mm
1094,Zarzis,31/12/2019,14°,11°,33km/h,67%,8.875km,Pluie forte ou modéré,14mm

In [27]:
weather["temperatureMaximale"]

0       12°
1       14°
2       15°
3       15°
4       15°
       ...
1090    18°
1091    17°
1092    15°
1093    13°
1094    14°
Name: temperatureMaximale, Length: 26280, dtype: object

In [28]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26280 entries, 0 to 1094
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   lieu                 26280 non-null  object
 1   date                 26280 non-null  object
 2   temperatureMaximale  26280 non-null  object
 3   temperatureMinimale  26280 non-null  object
 4   vitesseVent          26280 non-null  object
 5   Humidite             26280 non-null  object
 6   Visibilite           26280 non-null  object
 7   etat                 26280 non-null  object
 8   Precipitations       13717 non-null  object
dtypes: object(9)
memory usage: 2.0+ MB

In [4]:
#sinistre_clean= pd.read_csv('../Dataset_clean/sinistre_clean_finale.csv')
sinistre_clean= pd.read_csv('../Dataset_clean/sinistre_clean_weather.csv')

/home/ayadi/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (7,8,10,13,14,33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [96]:
sinistre_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 585267 entries, 0 to 585266
Data columns (total 35 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   sinistre_id                           585267 non-null  int64
 1   cga_police_id                         585267 non-null  int64
 2   cga_vehicule_id                       585267 non-null  int64
 3   cga_assure_id                         585267 non-null  int64
 4   dateDeSurvenanceDuSinistre            585267 non-null  object
 5   heureSurvanceDusinistre               560935 non-null  float64
 6   dateOuvertureDuSinistre               585267 non-null  object
 7   lieuDuSinistre                        223385 non-null  object
 8   identificationTiers                   215423 non-null  object
 9   pourcentadeDeResponsabilite           585267 non-null  int64
 10  numeroDePoliceCompagnieAdverse        205146 non-null  object
 11  codeCompagnieAdverse                  282652 non-null  float64
 12  porcentageCompagnieAdverse            585267 non-null  float64
 13  numeroImmatriculationVehiculeAdverse  220373 non-null  object
 14  typeImmatriculationVehiculeAdverse    226654 non-null  object
 15  mouvementDusinistre                   560935 non-null  float64
 16  natureDuSinistre                      585267 non-null  object
 17  Calculer_Sinistre                     585267 non-null  int64
 18  lieuDuSinistreajuste                  585267 non-null  object
 19  heureSurvanceDusinistreajuste         585267 non-null  float64
 20  mois                                  585267 non-null  int64
 21  saison                                585267 non-null  object
 22  annee                                 585267 non-null  int64
 23  fraude                                585267 non-null  int64
 24  TypeFraude1                           585267 non-null  int64
 25  TypeFraude2                           585267 non-null  int64
 26  TypeFraude3                           585267 non-null  int64
 27  TypeFraude4                           585267 non-null  int64
 28  temperatureMaximale                   162481 non-null  float64
 29  temperatureMinimale                   162481 non-null  float64
 30  vitesseVent                           162481 non-null  float64
 31  Humidite                              162481 non-null  float64
 32  Visibilite                            162481 non-null  float64
 33  etat                                  162481 non-null  object
 34  Precipitations                        162476 non-null  float64
dtypes: float64(11), int64(13), object(11)
memory usage: 156.3+ MB

In [97]:
sinistre_clean['dateDeSurvenanceDuSinistre']=pd.to_datetime(sinistre_clean['dateDeSurvenanceDuSinistre'])

In [98]:
weather['date']=pd.to_datetime(weather['date'])

In [99]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26280 entries, 0 to 1094
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   lieu                      26280 non-null  object
 1   date                      26280 non-null  datetime64[ns]
 2   temperatureMaximale (°)   26280 non-null  int64
 3   temperatureMinimale (°)   26280 non-null  int64
 4   vitesseVent  (km/h)       26280 non-null  float64
 5   Humidite (%)              26280 non-null  int64
 6   Visibilite (km)           26280 non-null  float64
 7   etat                      26280 non-null  object
 8   Precipitations (mm)       26280 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(2)
memory usage: 2.0+ MB

In [100]:
sinistre_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 585267 entries, 0 to 585266
Data columns (total 35 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   sinistre_id                           585267 non-null  int64
 1   cga_police_id                         585267 non-null  int64
 2   cga_vehicule_id                       585267 non-null  int64
 3   cga_assure_id                         585267 non-null  int64
 4   dateDeSurvenanceDuSinistre            585267 non-null  datetime64[ns]
 5   heureSurvanceDusinistre               560935 non-null  float64
 6   dateOuvertureDuSinistre               585267 non-null  object
 7   lieuDuSinistre                        223385 non-null  object
 8   identificationTiers                   215423 non-null  object
 9   pourcentadeDeResponsabilite           585267 non-null  int64
 10  numeroDePoliceCompagnieAdverse        205146 non-null  object
 11  codeCompagnieAdverse                  282652 non-null  float64
 12  porcentageCompagnieAdverse            585267 non-null  float64
 13  numeroImmatriculationVehiculeAdverse  220373 non-null  object
 14  typeImmatriculationVehiculeAdverse    226654 non-null  object
 15  mouvementDusinistre                   560935 non-null  float64
 16  natureDuSinistre                      585267 non-null  object
 17  Calculer_Sinistre                     585267 non-null  int64
 18  lieuDuSinistreajuste                  585267 non-null  object
 19  heureSurvanceDusinistreajuste         585267 non-null  float64
 20  mois                                  585267 non-null  int64
 21  saison                                585267 non-null  object
 22  annee                                 585267 non-null  int64
 23  fraude                                585267 non-null  int64
 24  TypeFraude1                           585267 non-null  int64
 25  TypeFraude2                           585267 non-null  int64
 26  TypeFraude3                           585267 non-null  int64
 27  TypeFraude4                           585267 non-null  int64
 28  temperatureMaximale                   162481 non-null  float64
 29  temperatureMinimale                   162481 non-null  float64
 30  vitesseVent                           162481 non-null  float64
 31  Humidite                              162481 non-null  float64
 32  Visibilite                            162481 non-null  float64
 33  etat                                  162481 non-null  object
 34  Precipitations                        162476 non-null  float64
dtypes: datetime64[ns](1), float64(11), int64(13), object(10)
memory usage: 156.3+ MB

In [91]:
weather["lieu"].unique()

array(['tunis', 'nabeul', 'kebili', 'monastir', 'bizerte', 'kef', 'gabes',
       'gafsa', 'mahdia', 'sfax', 'sousse', 'tataouine', 'jendouba',
       'tozeur', 'beja', 'kairouan', 'kasserine', 'ben arous',
       'sidi bouzid', 'zaghouan', 'siliana', 'Mateur', 'Carthage',
       'medenine'], dtype=object)

In [101]:
weather.loc[weather["lieu"]=="Tunis",'lieu']="tunis"
weather.loc[weather["lieu"]=="Beja",'lieu']="beja"
weather.loc[weather["lieu"]=="Bizerte",'lieu']="bizerte"
weather.loc[weather["lieu"]=="El Kef",'lieu']="kef"
weather.loc[weather["lieu"]=="Gabès",'lieu']="gabes"
weather.loc[weather["lieu"]=="Gafsa",'lieu']="gafsa"
weather.loc[weather["lieu"]=="Mahdia",'lieu']="mahdia"
weather.loc[weather["lieu"]=="Sfax",'lieu']="sfax"
weather.loc[weather["lieu"]=="Sousse",'lieu']="sousse"
weather.loc[weather["lieu"]=="Tatouine",'lieu']="tataouine"
weather.loc[weather["lieu"]=="Tabarka",'lieu']="jendouba"
weather.loc[weather["lieu"]=="Tozeur",'lieu']="tozeur"
weather.loc[weather["lieu"]=="Kairouan",'lieu']="kairouan"
weather.loc[weather["lieu"]=="Kasserine",'lieu']="kasserine"
weather.loc[weather["lieu"]=="Rades",'lieu']="ben arous"
weather.loc[weather["lieu"]=="Sidi Bouzid",'lieu']="sidi bouzid"
weather.loc[weather["lieu"]=="Zaghouan",'lieu']="zaghouan"
weather.loc[weather["lieu"]=="Siliana",'lieu']="siliana"
weather.loc[weather["lieu"]=="Zarzis",'lieu']="medenine"
weather.loc[weather["lieu"]=="Nabeul",'lieu']="nabeul"
weather.loc[weather["lieu"]=="Kebili",'lieu']="kebili"
weather.loc[weather["lieu"]=="Monastir",'lieu']="monastir"

In [93]:
sinistre_clean["temperatureMaximale"]=""
sinistre_clean["temperatureMinimale"]=""
sinistre_clean["vitesseVent"]=""
sinistre_clean["Humidite"]=""
sinistre_clean["Visibilite"]=""
sinistre_clean["etat"]=""
sinistre_clean["Precipitations"]=""

In [102]:
weather

,lieu,date,temperatureMaximale (°),temperatureMinimale (°),vitesseVent (km/h),Humidite (%),Visibilite (km),etat,Precipitations (mm)
0,tunis,2017-01-01,12,11,12.0,61,10.000,Nuageux,0.0
1,tunis,2017-02-01,14,11,9.0,63,10.000,Ciel dégagé pleinement ensoleillé,-1.0
2,tunis,2017-03-01,15,12,23.0,54,10.000,Soleil et partiellement nuageux,0.0
3,tunis,2017-04-01,15,14,31.0,69,10.000,Soleil et partiellement nuageux,1.0
4,tunis,2017-05-01,15,14,52.0,62,9.875,Nuageux,3.0
...,...,...,...,...,...,...,...,...,...
1090,medenine,2019-12-27,18,15,10.0,60,10.000,Soleil et partiellement nuageux,0.0
1091,medenine,2019-12-28,17,15,31.0,71,9.750,Nuageux,1.0
1092,medenine,2019-12-29,15,13,34.0,61,9.875,Faibles averses de pluie,5.0
1093,medenine,2019-12-30,13,11,35.0,67,9.000,Faibles averses de pluie,11.0
1094,medenine,2019-12-31,14,11,33.0,67,8.875,Pluie forte ou modéré,14.0

In [ ]:
weather['temperatureMaximale']=weather['temperatureMaximale'].str.replace("°"," ")
weather['temperatureMinimale']=weather['temperatureMinimale'].str.replace("°"," ")
weather['vitesseVent']=weather['vitesseVent'].str.replace("km/h"," ")
weather['Humidite']=weather['Humidite'].str.replace("%"," ")
weather['Visibilite']=weather['Visibilite'].str.replace("km"," ")
weather['Precipitations']=weather['Precipitations'].str.replace("mm"," ")

In [104]:
 weather

,lieu,date,temperatureMaximale (°),temperatureMinimale (°),vitesseVent (km/h),Humidite (%),Visibilite (km),etat,Precipitations (mm)
0,tunis,2017-01-01,12,11,12.0,61,10.000,Nuageux,0.0
1,tunis,2017-02-01,14,11,9.0,63,10.000,Ciel dégagé pleinement ensoleillé,-1.0
2,tunis,2017-03-01,15,12,23.0,54,10.000,Soleil et partiellement nuageux,0.0
3,tunis,2017-04-01,15,14,31.0,69,10.000,Soleil et partiellement nuageux,1.0
4,tunis,2017-05-01,15,14,52.0,62,9.875,Nuageux,3.0
...,...,...,...,...,...,...,...,...,...
1090,medenine,2019-12-27,18,15,10.0,60,10.000,Soleil et partiellement nuageux,0.0
1091,medenine,2019-12-28,17,15,31.0,71,9.750,Nuageux,1.0
1092,medenine,2019-12-29,15,13,34.0,61,9.875,Faibles averses de pluie,5.0
1093,medenine,2019-12-30,13,11,35.0,67,9.000,Faibles averses de pluie,11.0
1094,medenine,2019-12-31,14,11,33.0,67,8.875,Pluie forte ou modéré,14.0

In [ ]:
weather['temperatureMaximale']=weather['temperatureMaximale'].astype(int)
weather['temperatureMinimale']=weather['temperatureMinimale'].astype(int)
weather['vitesseVent']=weather['vitesseVent'].astype(float)
weather['Humidite']=weather['Humidite'].astype(int)
weather['Visibilite']=weather['Visibilite'].astype(float)
weather['Precipitations']=weather['Precipitations'].astype(float)

In [106]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26280 entries, 0 to 1094
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   lieu                      26280 non-null  object
 1   date                      26280 non-null  datetime64[ns]
 2   temperatureMaximale (°)   26280 non-null  int64
 3   temperatureMinimale (°)   26280 non-null  int64
 4   vitesseVent  (km/h)       26280 non-null  float64
 5   Humidite (%)              26280 non-null  int64
 6   Visibilite (km)           26280 non-null  float64
 7   etat                      26280 non-null  object
 8   Precipitations (mm)       26280 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(2)
memory usage: 2.0+ MB

In [43]:
weather.rename(columns={"temperatureMaximale": "temperatureMaximale (°) ","temperatureMinimale":"temperatureMinimale (°)","vitesseVent":"vitesseVent  (km/h)","Humidite":"Humidite (%)","Visibilite":"Visibilite (km)","Precipitations":"Precipitations (mm)"},inplace=True)

In [44]:
weather["Precipitations (mm)"].fillna(-1,inplace=True)

In [45]:
weather.isnull().sum().sum()

0

In [77]:
weather

,lieu,date,temperatureMaximale (°),temperatureMinimale (°),vitesseVent (km/h),Humidite (%),Visibilite (km),etat,Precipitations (mm)
0,tunis,2017-01-01,12,11,12.0,61,10.000,Nuageux,0.0
1,tunis,2017-02-01,14,11,9.0,63,10.000,Ciel dégagé pleinement ensoleillé,-1.0
2,tunis,2017-03-01,15,12,23.0,54,10.000,Soleil et partiellement nuageux,0.0
3,tunis,2017-04-01,15,14,31.0,69,10.000,Soleil et partiellement nuageux,1.0
4,tunis,2017-05-01,15,14,52.0,62,9.875,Nuageux,3.0
...,...,...,...,...,...,...,...,...,...
1090,medenine,2019-12-27,18,15,10.0,60,10.000,Soleil et partiellement nuageux,0.0
1091,medenine,2019-12-28,17,15,31.0,71,9.750,Nuageux,1.0
1092,medenine,2019-12-29,15,13,34.0,61,9.875,Faibles averses de pluie,5.0
1093,medenine,2019-12-30,13,11,35.0,67,9.000,Faibles averses de pluie,11.0
1094,medenine,2019-12-31,14,11,33.0,67,8.875,Pluie forte ou modéré,14.0

In [47]:
sinistre_clean[["dateDeSurvenanceDuSinistre","lieuDuSinistreajuste"]]

       dateDeSurvenanceDuSinistre lieuDuSinistreajuste
0                      2017-12-18              inconnu
1                      2018-02-16              inconnu
2                      2017-03-11              inconnu
3                      2017-11-23              inconnu
4                      2017-02-23              inconnu
...                           ...                  ...
585262                 2017-05-24              inconnu
585263                 2017-05-24              inconnu
585264                 2017-05-24              inconnu
585265                 2017-03-17              inconnu
585266                 2017-03-17              inconnu

[585267 rows x 2 columns]

In [48]:
sinistre_clean_20 = sinistre_clean[sinistre_clean["lieuDuSinistreajuste"]!="inconnu"].sample(n=20)

In [49]:
weather.columns

Index(['lieu', 'date', 'temperatureMaximale (°) ', 'temperatureMinimale (°)',
       'vitesseVent  (km/h)', 'Humidite (%)', 'Visibilite (km)', 'etat',
       'Precipitations (mm)'],
      dtype='object')

In [50]:
for value in sinistre_clean_20[["dateDeSurvenanceDuSinistre","lieuDuSinistreajuste"]].values:
    for weather_value in weather[["date","lieu","temperatureMaximale (°) ","temperatureMinimale (°)","vitesseVent  (km/h)","Humidite (%)","Visibilite (km)","etat","Precipitations (mm)"]].values:
        if (value[0]==weather_value[0] and value[1]==weather_value[1] ):
            sinistre_clean_20.loc[((sinistre_clean_20["dateDeSurvenanceDuSinistre"]==value[0]) & (sinistre_clean_20["lieuDuSinistreajuste"]==value[1])),'temperatureMaximale']=weather_value[2]
            sinistre_clean_20.loc[((sinistre_clean_20["dateDeSurvenanceDuSinistre"]==value[0]) & (sinistre_clean_20["lieuDuSinistreajuste"]==value[1])),'temperatureMinimale']=weather_value[3]
            sinistre_clean_20.loc[((sinistre_clean_20["dateDeSurvenanceDuSinistre"]==value[0]) & (sinistre_clean_20["lieuDuSinistreajuste"]==value[1])),'vitesseVent']=weather_value[4]
            sinistre_clean_20.loc[((sinistre_clean_20["dateDeSurvenanceDuSinistre"]==value[0]) & (sinistre_clean_20["lieuDuSinistreajuste"]==value[1])),'Humidite']=weather_value[5]
            sinistre_clean_20.loc[((sinistre_clean_20["dateDeSurvenanceDuSinistre"]==value[0]) & (sinistre_clean_20["lieuDuSinistreajuste"]==value[1])),'Visibilite']=weather_value[6]
            sinistre_clean_20.loc[((sinistre_clean_20["dateDeSurvenanceDuSinistre"]==value[0]) & (sinistre_clean_20["lieuDuSinistreajuste"]==value[1])),'etat']=weather_value[7]
            sinistre_clean_20.loc[((sinistre_clean_20["dateDeSurvenanceDuSinistre"]==value[0]) & (sinistre_clean_20["lieuDuSinistreajuste"]==value[1])),'Precipitations']=weather_value[8]

In [51]:
sinistre_clean_20

,sinistre_id,cga_police_id,cga_vehicule_id,cga_assure_id,dateDeSurvenanceDuSinistre,heureSurvanceDusinistre,dateOuvertureDuSinistre,lieuDuSinistre,identificationTiers,pourcentadeDeResponsabilite,...,TypeFraude2,TypeFraude3,TypeFraude4,temperatureMaximale,temperatureMinimale,vitesseVent,Humidite,Visibilite,etat,Precipitations
284996,435003,1833090,887265,862911,2018-05-28,0.0,2018-06-01,TUNIS,V,0,...,0,0,0,28,26,28,52,10,Ciel dégagé pleinement ensoleillé,1
136932,214769,2070977,1307448,1342900,2017-09-08,0.0,2017-09-29,Tunis,U,100,...,0,0,0,39,36,21,34,10,Ciel dégagé pleinement ensoleillé,-1
376163,548686,3172562,802792,1605509,2018-08-30,0.0,2018-12-12,BOUMHEL TUNIS,V,100,...,0,0,0,29,27,15,48,10,Ciel dégagé pleinement ensoleillé,-1
386693,559748,404062,348094,335723,2018-08-26,0.0,2018-09-04,Tunis,U,0,...,0,0,0,30,28,25,53,10,Ciel dégagé pleinement ensoleillé,-1
293640,444784,1249152,1001825,979117,2018-06-11,0.0,2018-07-04,MEDENINE,NaN,100,...,0,0,0,23,19,8,49,10,Ciel dégagé pleinement ensoleillé,-1
34731,48761,1391109,1079267,1057930,2017-04-24,0.0,2017-06-13,Ben Arous,U,0,...,0,0,0,22,15,23,78,10,Ciel dégagé pleinement ensoleillé,-1
77144,143863,186965,175314,156313,2016-12-09,0.0,2017-01-24,TUNIS TUNIS,V,100,...,0,0,0,,,,,,,
249541,384336,252090,190095,215917,2017-11-16,0.0,2018-03-01,MATEUR MATEUR MATEUR BIZERTE,V,100,...,0,0,0,16,15,22,74,9.875,Soleil et partiellement nuageux,3
362964,532875,2071085,1627529,1569898,2018-02-01,0.0,2018-02-16,Ariana,U,100,...,0,0,0,,,,,,,
41657,56032,408934,352330,339510,2017-10-04,0.0,2017-10-05,Monastir,NaN,100,...,0,0,0,18,16,23,69,10,Ciel dégagé pleinement ensoleillé,1
396613,571066,3401094,216420,203534,2017-01-08,0.0,2017-02-09,TUNIS,V,0,...,0,0,0,36,33,21,32,10,Ciel dégagé pleinement ensoleillé,-1
311570,464092,2609907,539152,1426004,2018-06-28,0.0,2018-08-23,ZARZIS,NaN,100,...,0,0,0,28,24,26,55,10,Ciel dégagé pleinement ensoleillé,-1
24714,38582,235021,213538,200666,2016-01-27,0.0,2016-09-21,BIZERTE BIZERTE,V,100,...,0,0,0,,,,,,,
56749,112201,1587609,617868,1171526,2017-03-20,0.0,2017-04-13,Tunisie,NaN,100,...,0,0,0,21,18,14,51,10,Ciel dégagé pleinement ensoleillé,-1
79653,146372,272205,242742,232300,2016-08-20,0.0,2017-03-01,BEB JABLI SFAX,V,0,...,0,0,0,,,,,,,
109237,178050,1907170,929724,907433,2017-03-22,1400.0,2017-03-22,BEN AROUS,V,0,...,0,0,0,19,13,18,88,10,Ciel dégagé pleinement ensoleillé,0
348304,515553,1928039,720219,936107,2018-10-01,2100.0,2018-10-16,SOUSSE,V,100,...,0,0,0,17,13,17,57,10,Ciel dégagé pleinement ensoleillé,0
414329,590261,2008695,1290374,1332427,2019-01-03,0.0,2019-02-27,TUNIS TUNIS,V,100,...,0,0,0,17,12,33,73,10,Soleil et partiellement nuageux,-1
251610,386407,449496,386717,371450,2018-02-21,0.0,2018-03-19,TUNIS TUNIS,V,100,...,0,0,0,13,11,17,71,8.75,Soleil et partiellement nuageux,2
482189,658795,396686,341778,330041,2019-03-11,0.0,2019-04-18,Tunis,NaN,0,...,0,0,0,27,24,27,47,9.875,Soleil et partiellement nuageux,1

In [130]:
for value in sinistre_clean[(sinistre_clean["lieuDuSinistreajuste"]!="inconnu") & (sinistre_clean["temperatureMaximale"].isnull()) & (sinistre_clean["lieuDuSinistreajuste"].isin(weather["lieu"])) & (sinistre_clean["annee"]>2016) ][["dateDeSurvenanceDuSinistre","lieuDuSinistreajuste"]].values:
    for weather_value in weather[["date","lieu","temperatureMaximale (°) ","temperatureMinimale (°)","vitesseVent  (km/h)","Humidite (%)","Visibilite (km)","etat","Precipitations (mm)"]].values:
        if (value[0]==weather_value[0] and value[1]==weather_value[1] ):
            sinistre_clean.loc[((sinistre_clean["dateDeSurvenanceDuSinistre"]==value[0]) & (sinistre_clean["lieuDuSinistreajuste"]==value[1])),'temperatureMaximale']=weather_value[2]
            sinistre_clean.loc[((sinistre_clean["dateDeSurvenanceDuSinistre"]==value[0]) & (sinistre_clean["lieuDuSinistreajuste"]==value[1])),'temperatureMinimale']=weather_value[3]
            sinistre_clean.loc[((sinistre_clean["dateDeSurvenanceDuSinistre"]==value[0]) & (sinistre_clean["lieuDuSinistreajuste"]==value[1])),'vitesseVent']=weather_value[4]
            sinistre_clean.loc[((sinistre_clean["dateDeSurvenanceDuSinistre"]==value[0]) & (sinistre_clean["lieuDuSinistreajuste"]==value[1])),'Humidite']=weather_value[5]
            sinistre_clean.loc[((sinistre_clean["dateDeSurvenanceDuSinistre"]==value[0]) & (sinistre_clean["lieuDuSinistreajuste"]==value[1])),'Visibilite']=weather_value[6]
            sinistre_clean.loc[((sinistre_clean["dateDeSurvenanceDuSinistre"]==value[0]) & (sinistre_clean["lieuDuSinistreajuste"]==value[1])),'etat']=weather_value[7]
            sinistre_clean.loc[((sinistre_clean["dateDeSurvenanceDuSinistre"]==value[0]) & (sinistre_clean["lieuDuSinistreajuste"]==value[1])),'Precipitations']=weather_value[8]

In [131]:
sinistre_clean[~sinistre_clean["temperatureMaximale"].isnull()]

,sinistre_id,cga_police_id,cga_vehicule_id,cga_assure_id,dateDeSurvenanceDuSinistre,heureSurvanceDusinistre,dateOuvertureDuSinistre,lieuDuSinistre,identificationTiers,pourcentadeDeResponsabilite,...,TypeFraude2,TypeFraude3,TypeFraude4,temperatureMaximale,temperatureMinimale,vitesseVent,Humidite,Visibilite,etat,Precipitations
11705,12356,1242974,996770,973598,2018-01-23,0.0,2018-02-09,SFAX,NaN,100,...,0,0,0,19.0,15.0,20.0,63.0,10.0,Ciel dégagé pleinement ensoleillé,-1.0
11706,12357,1242983,996775,973607,2017-09-09,0.0,2017-12-21,MENZAH,NaN,100,...,0,0,0,33.0,28.0,17.0,50.0,10.0,Ciel dégagé pleinement ensoleillé,0.0
11707,12358,1242986,996777,973610,2017-12-03,0.0,2017-12-21,SFAX,A,100,...,0,0,0,19.0,12.0,22.0,57.0,10.0,Ciel dégagé pleinement ensoleillé,-1.0
11708,12359,1242987,996778,973611,2017-10-08,0.0,2017-10-27,SFAX,NaN,100,...,0,0,0,37.0,31.0,21.0,62.0,10.0,Ciel dégagé pleinement ensoleillé,-1.0
11709,12360,1242991,996781,973615,2018-01-23,1200.0,2018-01-26,ROUTE DE SIDI SALEM,A,0,...,0,0,0,16.0,14.0,33.0,79.0,10.0,Soleil et partiellement nuageux,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581622,20688,1336876,1063119,1047098,2017-08-18,NaN,2017-08-18,MONASTIR,NaN,0,...,0,0,0,31.0,29.0,18.0,55.0,10.0,Ciel dégagé pleinement ensoleillé,-1.0
581623,20689,1336467,1062803,1046760,2017-07-10,NaN,2017-07-10,HOTEL ROYAL BEACH SOUSSE,NaN,0,...,0,0,0,24.0,23.0,36.0,53.0,10.0,Soleil et partiellement nuageux,-1.0
581624,20690,1336477,1062811,976839,2017-03-31,NaN,2017-03-31,ENFIDHA,NaN,0,...,0,0,0,22.0,19.0,16.0,47.0,10.0,Ciel dégagé pleinement ensoleillé,-1.0
581625,20691,1336483,1062815,976836,2017-08-19,NaN,2017-08-19,PAYAGR HERGLA,NaN,0,...,0,0,0,33.0,31.0,24.0,49.0,10.0,Ciel dégagé pleinement ensoleillé,-1.0
581626,20692,1336484,1062816,976907,2017-02-16,NaN,2017-02-16,SFAX,NaN,100,...,0,0,0,15.0,12.0,22.0,81.0,10.0,Soleil et partiellement nuageux,-1.0

In [132]:
sinistre_clean[(sinistre_clean["lieuDuSinistreajuste"]!="inconnu") & (sinistre_clean["temperatureMaximale"].isnull()) & (sinistre_clean["lieuDuSinistreajuste"].isin(weather["lieu"])) & (sinistre_clean["annee"]>2016)][["dateDeSurvenanceDuSinistre","lieuDuSinistreajuste"]]

Empty DataFrame
Columns: [dateDeSurvenanceDuSinistre, lieuDuSinistreajuste]
Index: []

In [3]:
#sinistre_clean.to_csv("../Dataset_clean/sinistre_clean_weather.csv",index=False)

In [12]:
sinistre_clean[~sinistre_clean["lieuDuSinistreajuste"].isin(["inconnu","ben arous","monastir","nabeul","tunis","sfax","medenine","ariana","sousse","gabes"])]["lieuDuSinistreajuste"].value_counts()

bizerte                           3919
manouba                           3270
mahdia                            2975
kairouan                          2391
beja                              1985
                                  ...
ksour-essaf                          1
av hopital militaire                 1
rte elkalboussi menzel bouzelf       1
gammerth                             1
av 20 mars rue bechir tarmiz         1
Name: lieuDuSinistreajuste, Length: 4749, dtype: int64

In [16]:
sinistre_clean["annee"].value_counts()

2017    237998
2018    216134
2019    101615
2016     24777
2015      3599
2014       709
2013       205
2012        93
2011        44
2010        24
2009        22
2008        22
2007        13
2006         6
2004         2
2005         1
2003         1
1999         1
1995         1
Name: annee, dtype: int64